@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Hello, GitHub!</h1>
    <p>Link to my <a href="https://github.com/GordonFon/MySite">Github</a>.</p>
</div>
